.header {
	border: 1px solid red;
	float: right;
}

.content {
	display: flex;
}
.left-area {
	margin-left: 10px;
	flex: 1;
}

.right-area {
	flex: 1;
}

.navbar-footer {
	display: flex;
}

.nav1,
.nav2,
.nav3 {
	flex: 1;
}
