.nav {
	float: right;
}

.content {
	display: flex;
}
.left-area {
	margin-left: 10px;
	flex: 1;
}

.right-area {
	flex: 1;
	margin-top: 50px;
}


.seperator {
	height: 100%;
	width: 1px;
	background: black;
	top: 0;
	bottom: 0;
	position: absolute;
	left: 50%;
	margin-left: -90px;
  }
  