.text-output {
	border: 1px solid black;
	height: 155px;
	width: 90%;
}

#text {
	width: fit-content;
	line-height: 20px;
	padding: 5px 10px;
}

.drag-wrapper {
	cursor: grabbing;
	width: fit-content;
}

.text-placeholder{
	border-radius: 15px;
	height: 20px;
}

.text-placeholder:focus {
	outline: none;
	border: 1px solid coral;
	box-shadow: 0 0 5px coral;
	font-style: italic;
}